{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if noitem > 0 %}
<div class="contra" style="	margin: 0;
                            padding: 0;
                            background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
                            height: 100vh;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
<div class="CartContainer">
    <div class="Header">
        <h3 class="Heading">Shopping Cart</h3>  
        <a class='Action' href="{% url 'removeall_cartitem1' %}">Remove all</a>
    </div>
    {% for i in cartlist %}
    <div class="Cart-Items">
        
            <div class="image-box">
                <img src="{{i.productimg.url}}" style="height:120px ;" />
            </div>
            <div class="about">
                <h1 class="title">{{i.prodctname}}</h1>   
            </div>
            <div class="counter">
               <a href=""><div class="btn">+</div></a> 
                <div class="count">{{i.quantity}}</div>
                <a href=""><div class="btn">-</div></a>
            </div>
            <div class="prices">
                <a class='remove' href="{% url 'remove_cartitem1' i.id %}">Remove</a>
                <div class="amount">price:{{i.productprice}}</div>
                <br>
                <div class="prices">
                    <div class="amount">total price:{{i.totalprice}}</div>
                </div>
            </div>
            <br>    
              
    </div>
    {% endfor %} 
    <hr> 
    <div class="checkout">
    <div class="total">
        <div>
            
            <div class="items">{{noitem}} items</div>
        </div>
        <div class="Subtotal">Sub-Total</div>
        <div class="total-amount">{{finaltotalamt}}</div>
    </div>
    <button class="button"><a  href="{% url 'shiping1' %}">Checkout</a></button></div>
</div>
</div>
{% else %}
<a  href="{% url 'home' %}"><h1>Go For Shopping </h1></a>
{% endif %}
{% endblock %}
